
.Container {

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    width: 100vw;

}

.img {

    width: 300px;
    margin-bottom: 20px;
}


.Form {

    display: flex;
    flex-direction: column;  
    width: auto;
    margin: 10px;    
}

.Container-user {

    position: relative;
    
}

.Email {  

    margin-bottom: 15px;
    height: 20px;
    width: 250px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid black; 
    
}

.img-user {

    right: 5px;
    transform: translateY(18%);
    position: absolute;    
    height: 17px;
}

.Container-password {

    position: relative;
}

.Password {

    height: 20px;
    width: 250px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid black;   
    
}

.img-closeeye {

    right: 5px;
    transform: translateY(25%);
    position: absolute;
    cursor: pointer;
    height: 17px;

}


.Email::placeholder {

    padding: 5px;
}

.Password::placeholder {

    padding: 5px;
}


.Button {

    width: 225px;
    margin: 15px;
    background-color: rgb(130, 1300, 120);
    padding-left: 10px;
    color: blue;
}

.Container2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    margin-top: 10px;
}

a {

    color: #8B949D ;
}

.Footer {

   padding-top: 150px;
    
}

h5 {

    padding-top: 50px;
    padding-right: 28px;
}

